.features{
  @media screen and (min-width: 768px){    
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }  
}

.kinds {
  @media screen and (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
  }  
}

.features__kind {
  margin-bottom: 30px;
  @media screen and (min-width: 768px){    
    width: calc((100% - 15px *4) / 2);
    margin: 15px;
    
  }
  @media screen and (min-width: 1200px){
    margin: 15px;
    width: calc((100% - 15px*8) / 4);
    
  }
  
}



// .features__kind:not(:last-child) {
//   @media screen and (min-width: 768px){
//     margin-right: 30px;
//   }
 
// }

.features__icon {
  text-align: center;
  padding: 25px 190px;
  margin-bottom: 30px;  
  // width: 450px;
  height: 120px;

  background-color: $second-color;  
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: 768px){
    // width: 354px;
    padding: 25px 100px;
  }
  @media screen and (min-width: 1200px){
    padding: 25px 100px;
    width: 270px;
  }

}

.features__title {  
  margin-top: 0;
  margin-bottom: 10px;

  color: $title-text-color;
  background-color: $background-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: 768px){
    text-align: start;
  }
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
}
