.filter {
  display: flex;
  flex-wrap: wrap;
  width: 362px;
  margin: 0 103px 0 15px;
  // margin-bottom: 15px;
  // justify-content: center;
  // margin: 60px 103px 40px 15px ;
  width: calc((100% - 32px) / 5);

  @media screen and (min-width: 1200px){
    margin-bottom: 50px;
  }  

  // .filter__button{
  //   width: calc((100% - 16px) / 3);

  // }
  
}
.filter__button:not(:last-child) {

  
  margin-right: 8px;
}

.button--navig {
  padding: 6px 22px;
  height: 38px;
  min-width: 0;
  color: $title-text-color;
  background: $second-color;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $primary-bg-color;
    background: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
