.network {
  
  display: flex;
  width: 206px;
  
}

.footer{
  margin: auto;

}
.network__margin:not(:last-child) {
  margin-right: 10px;
}

.network__svg {
  fill: currentColor;
}

.network__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  color: #afb1b8;
  width: 44px;
  height: 44px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.network__icon:hover {
  background-color: $accent-color;
  color: $background-color;
}

.back {
  color: $primary-bg-color;
  background: rgba(255, 255, 255, 0.1);
}
