.project {


  @media screen and (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    
  }
  
}
.partition {
  @media screen and (min-width: 768px){
    margin: 15px;
    width: calc((100% - 15px*4) / 2);    
    
  }

  @media screen and (min-width: 1200px){
    margin: 15px;
    width: calc((100% - 15px*6) / 3);    
    
  }
  // display: flex;
  // width: calc((100% - 60px) / 3);
  // margin-right: 30px;
  // margin-bottom: 30px;
}

.partition:nth-child(3n) {
  margin-right: 0;
}
.partition:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

  .partition__overley {
    display: flex;
    position: relative;
    overflow: hidden;
  }

.partition__hover {
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $background-color;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partition__unit {
  width: 370px;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

.partition__title {
  margin: 0;
  margin-bottom: 4px;
}
.partition__text {
  margin: 0;
}

.partition h2 {
  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.partition__image {
  display: block;
  box-shadow: 0px 1px 1px rgb(255, 255, 255), 0px 4px 4px rgb(255, 255, 255),
    1px 4px 6px rgb(255, 255, 255);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partition__image:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.partition__image:hover .partition__hover {
  transform: translateY(0);
}
