.team {
  padding: 60px 0;
  color: $primary-text-color;
  background: $second-color;
}

.team h2,
h3 {
  color: $title-text-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px){
    font-size: 36px;
  }
}

.team__name {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}
.team__link {    
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}



.team__card {
  margin: auto;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: $primary-bg-color;
  

  @media screen and (min-width: 768px){
    margin: 15px;
    width: calc((100% - 15px *4) / 2);
  }
  @media screen and (min-width: 1200px){
    
    width: calc((100% - 15px *8) / 4);
  } 

  
  
}
.team__card:not(:last-child) {
  @media screen and (max-width: 480px){

    margin-bottom: 30px;
  }
 

  // @media screen and (min-width: 1200px){
  //   margin-right: 30px;
  // }
  
}

.team__foto {
  padding: 0;
  margin: 0;
  margin: auto;
}
.team__padding {
  padding: 30px 122px 24px 122px;

  @media screen and (min-width: 768px){
    padding: 30px 74px 24px 74px;
  }
  @media screen and (min-width: 1200px){
    padding: 30px 32px;
  }  
  
}

.team__title {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team__text {
  margin: 0;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
