ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

section {

  padding-top: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px){
    padding: 60px 0;
  } 
  @media screen and (min-width: 1200px){
    padding: 94px 0;
  }
  
}

button {
  cursor: pointer;
}

.page {
  color: $primary-text-color;
  background-color: $background-color;
  font-family: $font-primary;
   
}

.container {
  margin-left: auto;
  margin-right: auto;  
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (min-width: 480px){
    width: 480px;
  }

  @media screen and (min-width: 768px){
    width: 768px;
  }
  @media screen and (min-width: 1200px){
    width: 1200px;
  }    
}


.logo {
  display: block;
  padding: 16px 0;
  color: $accent-color;
  font-family: $font-logo;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  @media screen and (min-width: 767px){

    // padding: 16px 331px 16px 15px;
    padding: 26px 0;

  }


}
