// Палитра цветов макета
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$background-hero: #2f303a;
$info-color: rgba(255, 255, 255, 0.6);
$second-color: #f5f4fa;
$background-color: #ffffff;

// наборы шрифтов
$font-primary: Roboto, sans-serif;
$font-logo: Raleway, sans-serif;
